[Unit]
Description=Matrix Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/matrix-bot
User = matrix-bot
ExecStart=/opt/matrix-bot
Restart = on-failure
TimeoutSec = 15

[Install]
WantedBy=multi-user.target
